*.csv
10/
42/
321/
500/
1234/
cv1_30/
cv2_30/
cv3_30/
cv1_60/
cv2_60/
cv3_60/
final_split_outputs/TSLANet/seq_30/67/
final_split_outputs/TSLANet/seq_30/70/
final_split_outputs/TSLANet/seq_60/21/
final_split_outputs/TSLANet/seq_60/27/
country_wise_data/
data_collection/test.ipynb
model_weights/LSTM/
model_weights/MineROI-NET/seq_30_cv1.pth
model_weights/MineROI-NET/seq_30_cv2.pth
model_weights/MineROI-NET/seq_30_cv3.pth
model_weights/MineROI-NET/seq_60_cv1.pth
model_weights/MineROI-NET/seq_60_cv2.pth
model_weights/MineROI-NET/seq_60_cv3.pth
final_split_cv/
final_split_outputs_cv/